<div class="modal @modalClass" tabindex="0" role="dialog" style="@modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info bg-gradient">
                <slmall class="modal-title "> @_iLanguageHelper.GetText(Title ?? "Detail") </slmall>
            </div>
            <div class="modal-body">
                <ul>
                    @if (MdlBodys != null)
                    {
                        foreach (var item in MdlBodys)
                        {
                            <li class=" word-break-all">@item</li>
                        }
                    }
                    else
                    {
                        <li>@_iLanguageHelper.GetText("NotFoundInfo") </li>
                    }
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" tabindex="2" @onclick="@(()=>Cancel())">
                    @_iLanguageHelper.GetText("Return")
                </button>
            </div>
        </div>
    </div>
</div>


@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    ElementReference ReferenceControl;
    private string[]? MdlBodys { get; set; }
    private string modalDisplay = "display:none;";
    private string modalClass = string.Empty;
    private string? Title;
    private bool showBackdrop = false;

    public void SetTitle(string? title)
    {
        Title = title;
    }
    public void Show(params string[]? mdlBodys)
    {
        MdlBodys = mdlBodys;
        modalDisplay = "display:block;";
        modalClass = "show";
        showBackdrop = true;
        StateHasChanged();
    }

    private void Cancel()
    {
        modalDisplay = "display:none;";
        modalClass = "";
        showBackdrop = false;
        StateHasChanged();
    }
}
