@page "/NotFound"
@layout Layouts.LoginLayout

<div class="container bg-warning  text-center ">
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
    <small class=" ">@_iLanguageHelper.GetText("NotFound")"</small> 
</div> 